.main {
  min-height: 100vh;
  padding: 3rem 0;
  display: grid;
  place-items: center;

  @include respond(tablet) {
    padding: 0;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;

  @include respond(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
